@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import "../generalStyle.scss";


.timelineID {
    background-color: red;
}

.vertical-timeline--animate{
    background-color:red;
}
 

.vertical-timeline-element-icon.bounce-in{
    background-color: red;

}