@import '../generalStyle.scss';

* {
    box-sizing: border-box;
}

.newsContainer {
    margin: 0 auto;
    width: 90vw;
    // background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        @include title($textColor: $colorTextBeige);
    }

    div {
        width: 100%;
    }
}

.mainArticleImg {
    max-width: 100%;
    height: auto;
    margin: 0 0 20px 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    button {
        width: 100%;
        height: 4em;
        font-size: 0.9em;
        background: $colorTextBeige;
    }
}

.articlesContainer {
    display: flex;
    flex-direction: column;
    background: $colorTextLight;
    width: 100%;
    height: 50%;
    overflow: scroll;
    margin: 0 0 20px 0;
    .indivArticle {
        display: flex;
        // background: lightblue;
        min-height: 150px;
        max-height: 150px;
        border: 1px solid $colorTextBeige;
        img {
            width: 25%;
            height: 25%;
            margin: auto 8px auto 5px;
        }
        div {
            // position: absolute;
            // display: flex;
            margin: 0 0 0 5px;
            // background: lightpink;
            .articleTitle {
                @include subtitle();
                // background: lightyellow;
                margin: 30px 0 5px 0;
            }
            
        }
        p {
            font-size: 0.75em;
            padding: 0;
            margin: 0;
        }
    }
}



