@import './generalStyle.scss';

.title {
  @include title($textColor: $colorTextBeige);
}

.subtitle {
  @include subtitle();
}

.text {
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  color: red;
}

.border {
  border-radius: 5px;
  border: 1px solid white;
}

.button {
  box-shadow: 4px 6px 8px #888888;
}

.navbarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbarLi {
  display: inline-block;
  transition: 2s;

  &:hover {
    background-color: red;
}
}

.navbarLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

.marsbutton {
  @include roverPageTitle;
  background-color: #631111;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.4);
  padding: 24px 50px;
  font-weight: bolder;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50% ;
  transform: translate(-50%, -50%);
  text-decoration: none;
}