@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rajdhani&display=swap');

$colorTextLight: white;
$colorTextDark: black;
$colorTextRed: #631111;
$colorTextBeige: #9D887C;


@mixin title ($textColor: $colorTextRed) {
  font-family: 'Orbitron', sans-serif;
  font-size: 26px;
  color: $textColor;
}

@mixin blackTitle($textColor) {
  @include title($colorTextDark);
}

@mixin subtitle($textColor: $colorTextRed) {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  color: $textColor;
  font-weight: bold;
}

@mixin roverPageTitle ($textColour: $colorTextDark) {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  color: $colorTextDark
}
